body {
    font-family: "Open Sans";
    margin: 0;
    background-color: rgb(0,0,0);
}

html, 
body {
    height: 100%;
}

#main {
  display: flex;
  align-items: center;
  height: 100%;
}

#svg {
  margin: 0 auto;
  display: block;
}

.text {
    fill: black;
}

.axis text {
    fill: black;
}

.axis path,
.axis line {
    stroke: white;
}

div.tooltip-profanity {
     position: absolute;
     text-align: center;
     padding: .5rem;
     background: #FFFFFF;
     color: #313639;
     border: 1px solid #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 0.5rem;
     font: 0.5rem Lucida Sans Unicode, sans-serif;
}

